.product-price-container {
    display: flex;
    justify-content: center;
}

.product-currency {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    align-self: flex-end;
}

.product-price {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.015em;
    color: #FF40B3;
    margin-left: 5px;
}