.pedido-filters-container {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.input-search {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;
    flex: 1;

    input {
        border: none;
        background-color: #FFF;

        &::placeholder {
            color: #9E9E9E;
        }

        &:focus {
            box-shadow:none;
        }
    }
}

@media (max-width: 576px) {
    .pedido-filters-container {
        height: 200px;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }
}